<body>
   <section class="perfil">
    <h1>@ViewBag.nombreUsuario</h1>
        <div>  
        <ul>          
            <li><strong>Usuario:</strong> @ViewBag.nombreUsuario</li>
            <li><strong>DNI:</strong> @ViewBag.DNI</li>
            <li><strong>Apellido: </strong>@ViewBag.apellido</li>
            <li><strong>Télefono:</strong> @ViewBag.telefono</li>
            <li><strong>Edad: </strong>@ViewBag.edad</li>
        <ul>
        </div>
    </section>
</body>
