@model BasededatosyProg.Models.Integrante

<h2>Perfil de @Model.Nombre</h2>

<ul>
    <li><strong>Email:</strong> @Model.Email</li>
    <li><strong>Nombre:</strong> @Model.Nombre</li>
    <li><strong>Apellido:</strong> @Model.Apellido</li>
    <li><strong>Edad:</strong> @Model.Edad</li>
    <li><strong>Dirección:</strong> @Model.Direccion</li>
    <li><strong>Teléfono:</strong> @Model.Telefono</li>
</ul>

<a href="/Login/Logout">Cerrar sesión</a>
