<body >
    <h1>@ViewBag.nombreUsuario</h1>
    <section>
        <div>            
            <p>@ViewBag.nombreUsuario</p>
            <p>@ViewBag.DNI</p>
            <p>@ViewBag.apellido</p>
            <p>@ViewBag.telefono</p>
            <p>@ViewBag.edad</p>
        </div>
    </section>
</body>
